*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/release/
app/debug/
.gradle/
build/
local.properties
*.log
.navigation/
captures/
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/shelf/
.idea/caches/
.idea/modules.xml
.idea/compiler.xml
*.jks
*.keystore
.externalNativeBuild/
.cxx/
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
gen-external-apklibs
*.kotlin_module
.DS_Store
Thumbs.db
*.orig
app/build/